---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Francis Mant" description="Résumé de qui est Francis Mant">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Qui suis-je"
				tagline="Voici un petit résumé de qui je suis"
			>
				<img
					width="1553"
					height="873"
					src="/assets/avatar.jpg"
					alt="photo de Francis Mant"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
					<p>
						En 2017, après une reconversion réussie dans le domaine de l'informatique, j'ai exercé en tant que technicien helpdesk et proximité sur divers sites en Région Parisienne et dans les Hauts-de-France. En 2023, désireux d'approfondir mes compétences, j'ai entrepris une formation de Développeur Web et Web Mobile. Aujourd'hui diplômé, je suis activement à la recherche d'une opportunité professionnelle au sein d'une entreprise dynamique et innovante.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplomes</h2>
				<div class="content">
					<p>BAC S, Titre pro TSSI, titre pro DWWM</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Passions</h2>
				<div class="content">
					<p>informatique, danse, lecture</p>
				</div>
			</section>
		</main>

		<ContactCTA/>
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
